code {
    font-family: source code pro, lucida console, monospace;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: inherit !important;
    color: #e83e8c;
    padding: 0;
}

pre {
    display: block;
    font-family: source code pro, lucida console, monospace;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin: 2rem 0;
    padding: 2rem;
    overflow-x: auto;
}

pre code {
    background-color: inherit !important;
    color: inherit;
}

.list ul li a {
    text-transform: none;
}
